.footerButtons {
  position: fixed;
  bottom: 7vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footerButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
.replay_icon {
  padding: 1vw !important;
  color: #f5b748 !important;
}

.cancel_icon {
  padding: 1vw !important;
  color: #e64154 !important;
}

.star_icon {
  padding: 1vw !important;
  color: #3da5fa !important;
}

.favorite_icon {
  padding: 1vw !important;
  color: #4bdf9f !important;
}

.flash_icon {
  padding: 1vw !important;
  color: #894ed1 !important;
}
